body {
  background: #000;
  font-size: 20px;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

.dialog {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  background-color: rgba(10,10,10,0.8);
  border-radius: 13px;
  padding: 1.7em 2em;
}

#asaturday-ui {
  z-index: 100;
  position: absolute;
  left: 20px;
  bottom: 20px;
  line-height: 1.2em;
}

#asaturday-ui .help {
  width: 600px;
  color: #ffd;
  font-size: 14px;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .help h1 {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  margin-top: 0;
}

#asaturday-ui .button {
  background-color: #e43b5e;
  color: #fff;
  cursor: pointer;
  font-style: italic;
  width: 130px;
  text-align: center;
  max-width: 115px;
  padding: 6px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#asaturday-ui .button:hover {
  background-color: #f44b6e;
}

#asaturday-ui .form {
  display: flex;
  align-content: center;
}

#asaturday-ui .share input {
  width: 600px;
  color: #333;
  text-align: center;
}

.hide {
  display: none !important;
}

#asaturday-ui .progress {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  border-bottom: 1px solid #e43b5e;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .bar {
  width: 0%;
  height: 3px;
  margin-top: 13px;
  background-color: #e43b5e;
}

.instructions {
  z-index: 100;
  position: absolute;
  color: #ffd;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

.instructions-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(../assets/bg.jpg);
  background-size: cover;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.instructions img {
  padding-top: 20px;
  max-width: 100%;
  max-height: 20%;
}

.instructions h2 {
  font-size: 1.2em;
  color: #e43b5e;
  font-style: italic;
}

.instructions p {
  margin: 2em auto;
  max-width: 800px;
  font-size: 19px;
}

.instructions b {
  color: #e43b5e;
  font-weight: normal;
}

.instructions a {
  color: #fff78c;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #fff78c;
}

.instructions a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.instructions .start-button {
  background-color: #e43b5e;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  width: 200px;
  height: 50px;
  margin-left: calc(50% - 100px);
  margin-top: 50px;
  border-radius: 17px;
  border: none;
  display: block;
}

.instructions .start-button:hover {
  background-color: #fff;
  color: #e43b5e;
}

.instructions .start-button span.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.watermark{
  position: absolute;
  z-index: 999;
  width: 300px;
  margin: 20px 30px;
}